ParallelPipe_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
RegNew_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
RegNew_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledForeach_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
UnbMul_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
CounterChainNew_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
FixAdd_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
FixSub_FFs.pmml filter=lfs diff=lfs merge=lfs -text
LIFONew_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
StateMachine_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledReduce_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
FixAdd_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
FixSub_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
LIFONew_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
LineBufferNew_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnbSatMul_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
LineBufferNew_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
ParallelPipe_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
StateMachine_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
UnbSatMul_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
FIFONew_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
FixFMA_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
LineBufferNew_FFs.pmml filter=lfs diff=lfs merge=lfs -text
UnbSatMul_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
UnbMul_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledReduce_FFs.pmml filter=lfs diff=lfs merge=lfs -text
FIFONew_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
FixDiv_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
FixToFix_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
StateMachine_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
StateMachine_FFs.pmml filter=lfs diff=lfs merge=lfs -text
FixAdd_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
FixFMA_FFs.pmml filter=lfs diff=lfs merge=lfs -text
FixMod_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnitPipe_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
SatMul_FFs.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledForeach_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
FIFONew_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
FixMul_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
FixSub_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledForeach_FFs.pmml filter=lfs diff=lfs merge=lfs -text
FixToFix_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
UnbSatMul_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledForeach_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
FixMod_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
FixMul_FFs.pmml filter=lfs diff=lfs merge=lfs -text
UnbMul_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
FixToFix_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
SatMul_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
SatMul_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnitPipe_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledReduce_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
CounterChainNew_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
FixMod_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
LineBufferNew_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
ParallelPipe_FFs.pmml filter=lfs diff=lfs merge=lfs -text
RegNew_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
FixFMA_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
SatMul_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
FixDiv_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
FixFMA_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
FIFONew_FFs.pmml filter=lfs diff=lfs merge=lfs -text
ParallelPipe_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
SatMul_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
UnbSatMul_FFs.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledReduce_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
FixMul_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
FixDiv_FFs.pmml filter=lfs diff=lfs merge=lfs -text
FixMul_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
RegNew_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
StateMachine_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnbSatMul_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
FixAdd_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
LIFONew_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
RegFileNew_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnitPipe_FFs.pmml filter=lfs diff=lfs merge=lfs -text
FixAdd_FFs.pmml filter=lfs diff=lfs merge=lfs -text
FixDiv_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
FixSub_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
LIFONew_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
RegFileNew_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
CounterChainNew_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
FixAdd_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
FixFMA_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
LIFONew_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
RegFileNew_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
UnbMul_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
UnbMul_FFs.pmml filter=lfs diff=lfs merge=lfs -text
CounterChainNew_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
FixFMA_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
FixMul_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
FixMul_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
FixToFix_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
FixMod_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
FixToFix_FFs.pmml filter=lfs diff=lfs merge=lfs -text
LineBufferNew_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
SRAMNew_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
UnitPipe_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledReduce_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
FixSub_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
LineBufferNew_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
RegFileNew_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
SRAMNew_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnbMul_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
SatMul_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
SRAMNew_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
SRAMNew_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
CounterChainNew_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
FixMod_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
FixToFix_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
LIFONew_FFs.pmml filter=lfs diff=lfs merge=lfs -text
RegNew_FFs.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledReduce_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
CounterChainNew_FFs.pmml filter=lfs diff=lfs merge=lfs -text
FIFONew_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
SRAMNew_FFs.pmml filter=lfs diff=lfs merge=lfs -text
FixDiv_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
FixDiv_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
RegFileNew_FFs.pmml filter=lfs diff=lfs merge=lfs -text
RegFileNew_LUTs.pmml filter=lfs diff=lfs merge=lfs -text
StateMachine_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
FIFONew_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
FixSub_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledForeach_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
FixMod_FFs.pmml filter=lfs diff=lfs merge=lfs -text
UnrolledForeach_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
ParallelPipe_DSPs.pmml filter=lfs diff=lfs merge=lfs -text
RegNew_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
UnitPipe_RAMB18.pmml filter=lfs diff=lfs merge=lfs -text
UnitPipe_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
ParallelPipe_RAMB32.pmml filter=lfs diff=lfs merge=lfs -text
SRAMNew_SRLs.pmml filter=lfs diff=lfs merge=lfs -text
